<% if user_signed_in? %>
<h1>ダッシュボード</h1>
<div class="row">
    <h2>収支登録</h2>
    <%= render 'shared/payment_form' %>
</div>

<div class="row">
    <h2>カレンダー</h2>
    <%= month_calendar do |date| %>
      <%= link_to  date.day, root_path(date: date)%>
      <p>&yen;<%= @payments.where(date: date).sum(:price) %></p>
    <% end %>
</div>

<div class="row">
  <% if params[:date] %>
    <h2><%= params[:date] %>の支払い・収入一覧</h2>
    <table class='table'>
      <thead>
        <tr><th scope="col">カテゴリ</th><th scope="col">収支</th></tr>
      </thead>
      <tbody>
      <% @payments.where(date: params[:date]).each do |payment| %>
        <%= render 'payments/payment', payment: payment %> 
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="row">
    <h2>期間別集計</h2>
        <table class='table'>
        <thead><tr><th scope="col">期間</th><th scope="col">集計</th></tr></thead>
    <tbody>
      <tr><td><%= Time.now.month %>月</td><td>&yen;<%= @payments.where(date: Time.now..(Time.now + 1.month)).sum(:price) %></td></tr>
      <tr><td><%= Time.now.year %>年</td><td>&yen;<%= @payments.where(date: Time.now..(Time.now + 12.month)).sum(:price) %></td></tr>
      <tr><td>総期間</td><td>&yen;<%=@payments.sum(:price)%></td></tr>
    </tbody>
  </table>
</div>


<div class="row">
    <h2>カテゴリ別総計</h2>
    <table class='table'>
    <thead>
      <tr><th scope="col">カテゴリ</th><th scope="col">収支</th></tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
      <td><%=category[0]%></td>
      <td>&yen;<%=@payments.where(category_id: category[1]).sum(:price) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
  
<% else %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">keibo</h1>
    <p class="lead">家計簿管理に特化した会計アプリ</p>
    <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-lg btn-info" %>
    <%= link_to "サインイン", new_user_session_path, class: "btn btn-lg btn-info" %>
    <%= link_to image_tag("https://cloud-cube.s3.amazonaws.com/d6x6mxfmpxeq/public/btn_google_signin_light_normal_web.png"), 
    user_google_oauth2_omniauth_authorize_path %>
  </div>
</div>
      </div>
<% end %>
