<li id="payment-<%= payment.id %>">
  <span class="content"><%= payment.content %></span>
  <span class="price"><%= payment.price %>円</span>
  <%= link_to "削除", payment, method: :delete,
                                       data: { confirm: "本当に削除しますか？" } %>
  <%= link_to "編集", edit_payment_url(payment) %>
</li>