 <tr id="payment-<%= payment.id%>">
    <td><%= payment.id %></td>
    <td><%= Category.find(payment.category_id).name %></td>
    <td>&yen;<%= payment.price %></td>
    <td><%= payment.content %></td>
    <td><%= payment.date %></td>
    <td><%= link_to("削除", payment, { method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger"})%></td>
    <td><%= link_to("編集", edit_payment_url(payment), {class: "btn btn-primary"})%></td>
</tr>